.payWise__newsLetter-container{
    background-color: var(--secondary-color);
    color:#fff;
    display:flex;
    justify-content: center;
   
}
.paywise__newsletter{
    text-align: center;
    padding: 1rem 6rem
}
.paywise__newsletter h3{
    font-size:2.4rem;
    font-weight: bold;
   margin-bottom: 2rem;
    
}

.paywise__newsletter p{
    font-size: 2rem;
    line-height: 21.12px;
    margin-bottom: 3rem;
}

.paywise__newsletter ul li strong{
    font-size:  1.6rem;  
}

.paywise__newsletter ul li{
    font-size:  1.6rem;  
}

.paywise__newsletter ul{
    font-size:  1.6rem;   
    margin-bottom: 3rem;
}



form {
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
    gap:4rem;
    justify-content: center;
}

.form{
    font-size: 1.5rem;
    position: relative;
    width: 300px;
    display: flex;
    gap:1rem;
}

input{
    width:100%;
    padding: 1rem 1rem 1rem 4rem;
    border-radius: .5rem;
    border: none;
    outline: none;
}

.form img{
    position: absolute;
    top:50%;
    left:10px;
    transform: translateY(-50%);
}



.form button{
    font-size: 1.5rem;
    color:#101828;
    border-radius: 6.34px;
    border:none;
    outline:none;
    padding:3px 6px
}

@media screen and (max-width: 550px) {
    .paywise__newsletter{
        padding: unset;
        
    }

    .paywise__newsletter h3{
        font-size:  2rem
    }

    .paywise__newsletter p{
        font-size:  1.6rem
    }

    .paywise__newsletter ul li{
        font-size:  1.6rem
    }

    .paywise__newsletter ul li strong{
        font-size:  1.6rem;  
    }
    
    .paywise__newsletter ul li{
        font-size:  1.6rem;  
        margin-bottom: 2rem;
    }
    
    .paywise__newsletter ul{
        font-size:  1.6rem;   
        margin-bottom: 3rem;
    }

    .form button{
        font-size: 1.2rem;
    }
}