

.payWise__heroPage_header h2{
    text-align: center;
    font-size:4rem;   
    line-height: 60px;
}

.payWise__heroPage_header h2 span{
    display: block;
    color:var(--secondary-color);
    font-size: 4rem
}

.payWise__heroPage_downloads{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    margin-top: 3rem;
}

.payWise__heroPage_downloads-links{
    background-color:var(--secondary-color);
    display: flex;
    align-items: center;
    gap: .5rem;
    padding: 1rem 3rem;
    border-radius:1rem;
  
}

.payWise__heroPage_downloads-links img{
    width: 4rem;
    height:4rem;
}

.payWise__heroPage_downloads-links p{
    font-size: 2rem;
    color:#fff;
}

payWise__heroPage_downloads-links p span{
    font-size: 2rem;
    color:#fff;
}

.payWise__heroPage_downloads-links span{
    display: block;
    font-size: 1.6rem;
}

@media screen and (max-width: 490px) {
    .payWise__heroPage_header h2 {
        display: block;
        text-align: center;
        font-size: 32px;
        line-height: 48px;
    }
    .payWise__heroPage_header h2 span{
        font-size: 32px;
    }

    .payWise__heroPage_downloads-links{
        padding:1rem
    }

    .payWise__heroPage_downloads{
        gap:.5rem
    }

    .payWise__heroPage_downloads-links p{
        font-size: 1.2rem;
    }

    .payWise__heroPage_downloads-links p span{
        font-size: 1.2rem;
    }
}