.payWise__testimonials h3{
    text-align:center;
    font-size:24px
}

.payWise__testimonials-box{
    display:grid;
    grid-template-columns: 1fr 1fr;
    gap: 5rem;
    justify-items: center;
    align-items: center;
    
}

.payWise__testimonials-card{
    position:relative;
    padding:8rem 1rem;
    border-radius:15.2px;
    
    
  

}

.leftEdge{
    position: absolute;
    left:0;
    top:0
}
.rightEdge{
    position: absolute;
    right:0;
    bottom:0
}

.profilePic{
    width:99.9px;
    margin:-10rem auto 0 auto    
}



.payWise__testimonials-card_content{
    position: relative;
    background-color: var(--secondary-color);
    width: 80%;
   margin:0 auto;
   padding: 5rem 6rem 2rem 6rem;
   border-radius:10px;
   text-align:center
}
.payWise__testimonials-card_content p{
    font-size:1.6rem;
    color:#fff
}

.payWise__testimonials_card-ratings{
    display:flex;
    justify-content:center
}

.payWise__testimonials-card_triangle{
    width:0;
    height:0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid var(--secondary-color);
    padding:.3rem;
    margin:0 auto
}

@media screen and (max-width: 873px){
    .payWise__testimonials-box{
        grid-template-columns: 1fr;
        justify-content: center;
        align-items: center;
        margin:0 auto
    }
  
}

@media screen and (max-width: 435px){
    
    .payWise__testimonials-box{
        width: 100%;
       
        
    }

    .payWise__testimonials h3{
        font-size: 1.5rem
    }

    .payWise__testimonials-card_content p{
        font-size:.8rem
    }

   
}



