:root {
   --navbar-color:#0F0024;
    --secondary-color: #6B00FF;
    --tertiary-color:  #DCDCDC;
    --subscribe-color:  #D0D5DD; 
  }

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

a {
  color: unset;
  text-decoration: none;
}
